<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>分步表单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/lib/layui-v2.6.3/css/layui.css}" href="../lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/layui/css/public.css}" href="../css/public.css" media="all">
    <link rel="stylesheet" th:href="@{/layui/js/lay-module/step-lay/step.css}" href="../js/lay-module/step-lay/step.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-fluid">
            <div class="layui-card">
                <div class="layui-card-body" style="padding-top: 40px;">
                    <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                        <div carousel-item>
                            <div>
                                <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">订单ID:</label>
                                        <div class="layui-input-block">
                                            <input type="text" placeholder="请填写订单ID " name="note" class="layui-input" lay-verify="number" required />

                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">用户ID:</label>
                                        <div class="layui-input-block">
                                            <input type="text" placeholder="请填写预订人ID" name="name" class="layui-input" lay-verify="number" required />

                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit lay-filter="formStep">
                                                &emsp;下一步&emsp;
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">订单ID:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" id="note"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">用户ID:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" id="name"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">房间:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" id="room"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">时长:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" id="dayLong"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">价格:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" id="price"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">开始时间:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" id="startTime"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">结束时间:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" id="endTime"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button type="button" class="layui-btn layui-btn-primary pre">上一步</button>
                                            <button class="layui-btn" lay-submit lay-filter="formStep2">
                                                &emsp;确认入款&emsp;
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <div style="text-align: center;margin-top: 90px;">
                                    <i class="layui-icon layui-circle"
                                       style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                                    <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
                                        入款成功
                                    </div>
                                    <div style="font-size: 14px;color: #666;margin-top: 20px;">预计两小时到账</div>
                                </div>
                                <div style="text-align: center;margin-top: 50px;">
                                    <button class="layui-btn next">再入一笔</button>
                                    <button class="layui-btn layui-btn-primary">查看账单</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
<!--                    <div style="color: #666;margin-top: 30px;margin-bottom: 40px;padding-left: 30px;">-->
<!--                        <h3>说明</h3><br>-->
<!--                        <h4>入款到保险箱</h4>-->
<!--                        <p>如果需要，这里可以放一些关于产品的常见问题说明。</p>-->
<!--                        <br><h4>入款到现金</h4>-->
<!--                        <p>如果需要，这里可以放一些关于产品的常见问题说明。</p>-->
<!--                    </div>-->
                </div>
            </div>
        </div>

    </div>
</div>
<script th:src="@{/layui/lib/layui-v2.6.3/layui.js}" src="../lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script th:src="@{/layui/js/lay-config.js?v=1.0.4}" src="../js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use([ 'form', 'step'], function () {
        var $ = layui.$,
            form = layui.form,
            step = layui.step;
        var note="";
        var name="";

        step.render({
            elem: '#stepForm',
            filter: 'stepForm',
            width: '100%', //设置容器宽度
            stepWidth: '750px',
            height: '500px',
            stepItems: [{
                title: '填写订单信息'
            }, {
                title: '确认订单信息'
            }, {
                title: '完成'
            }]
        });


        form.on('submit(formStep)', function (data) {
            num = JSON.stringify(data.field);
            note=data.field.note
            name=data.field.name
            document.getElementById("name").innerHTML = data.field.name;
            document.getElementById("note").innerHTML = data.field.note;
            $.ajax({
                type: "POST",
                url: "/live/chack",
                data: num,
                dataType: "json",
                async: false,
                contentType: "application/json",
                success: function (data) {
                    if (data.wait1!="4041"&&data.wait1!="4042"){
                        document.getElementById("endTime").innerHTML = data.endTime;
                        document.getElementById("price").innerHTML = data.price;
                        document.getElementById("room").innerHTML = data.room;
                        document.getElementById("startTime").innerHTML = data.startTime;
                        document.getElementById("dayLong").innerHTML = data.dayLong;
                        step.next('#stepForm');
                    }else{
                        layer.msg(data.wait1);

                    }

                    return false;
                }
            });
            return false;
        });

        form.on('submit(formStep2)', function (data) {
            console.log(data.field)
            console.log(note)
            window.location.href="/live/change?noteId="+note+"&name="+name;

            return false;
        });

        $('.pre').click(function () {
            step.pre('#stepForm');
        });

        $('.next').click(function () {
            step.next('#stepForm');
        });
    })
</script>
</body>
</html>